<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP_19VdAcRDl9u4YW5p1bZxkCP4IgEPLc</string>
	<key>GCM_SENDER_ID</key>
	<string>32238149783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChatApp</string>
	<key>PROJECT_ID</key>
	<string>scholar-chat-app-36cab</string>
	<key>STORAGE_BUCKET</key>
	<string>scholar-chat-app-36cab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32238149783:ios:dda67c345bb83f8a5649d2</string>
</dict>
</plist>